.container__services
{
  padding: 2rem;
  background-image: url('../../../Assets/Background/blob2.svg'), radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-size: cover;
  background-repeat: no-repeat;}

.container__services h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    font-size: 3rem ;
}

.container__services-cards
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem;
}

.card-service {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1.5rem;
  }
  
  .price {
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.025em;
    color: rgba(255, 255, 255, 1);
  }
  
  .lists {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0.75rem;
    row-gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 1);
  }
  
  .list {
    display: flex;
    align-items: center;
  }
  
  .list svg {
    height: 1rem;
    width: 1rem;
  }
  
  .list span {
    margin-left: 1rem;
  }
  
  .action {
    margin-top: 2rem;
    width: 100%;
    border: 2px solid  rgba(255, 255, 255, 1);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 1);
    outline: none;
    transition: all .2s ease;
  }
  
  .action:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }

  /* Adjustments for tablets */
@media only screen and (max-width: 768px) {
  .container__services h1 {
    font-size: 2rem;
    margin: 2rem;
  }
  
  .container__services-cards {
    flex-direction: column;
    margin: 2rem;
  }
  
  .card-service {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

/* Adjustments for mobile */
@media only screen and (max-width: 480px) {
  .container__services h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .container__services-cards {
    margin: 1rem;
  }
  
  .card-service {
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .price {
    font-size: 2rem;
  }
  
  .lists {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 1.5rem;
  }
  
  .action {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.5rem 1rem;
  }
}
