.container__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url('../../Assets/Background/tex1.png'), radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.9) 0%, rgba(9, 10, 15, 0.9) 100%);
}

.get-in-touch {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust the width as needed */
  padding: 40px;
  border-radius: 20px;
  background-color: #ffffff10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden; /* Ensure the pseudo-elements are contained within the element */
}



.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  padding-right: 20px;
  box-sizing: border-box;
}

.contact-details {
  flex: 1;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  font-size: 16px;
  color: white;
  padding-bottom: 12px;
}


.form-field input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;

  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.form-field input:focus,
.form-field input:valid {
  outline: none;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}



/* Responsive Design */
@media screen and (max-width: 768px) {
  .get-in-touch {
    padding: 20px;
    margin: 2rem;
    margin-top: 12rem;
  }

  .title {
    font-size: 24px;
  }

  .form-field.col.x-50 {
    width: 100%;
    padding: 0 10px;
  }


}

.get-in-touch button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}



.get-in-touch button{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}

.contact-details 
{
  padding: 1rem;
}

.contact-details h1{
  font-size: 1.1rem;
}

.socialmedia {
  display: flex;
  margin: 20px;
  gap: 1.5rem;
}

.socialmedia h1 {
  margin-right: 10px; /* Adjust the spacing between the elements */
}

.socialmedia > svg {
  font-size: inherit;
  margin-top: 10rem;
}

/* Adjust the layout for tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
  .socialmedia {
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
  }
}