
.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden; /* Use "auto" instead of "hidden" to enable horizontal scrolling */
  padding: 0 1vw; /* Add margin on the left and right */
  min-height: 120vh;
  background-image: url('../../../Assets/Background/tex1.png'), radial-gradient(ellipse at bottom, rgba(27, 39, 53, 0.9) 0%, rgba(9, 10, 15, 0.9) 100%);
}


.item {
  width: 13vw;
  height: 75vh;
  background-position: center;
  background-size: cover;
  margin: 0 0.5vw; /* Add margin on the left and right */
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4), 0 0 5px 5px rgba(27, 27, 27, 0.5);
}

.item h1.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  padding: 2rem;
  opacity: 0; /* hide by default */
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add drop shadow */
}

.item.expanded h1.title {
  opacity: 1; /* show title when expanded */
  font-size: 2rem;
  transition: opacity 0.5s; /* add transition effect */
}

.group h1 {
  padding: 5rem;
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 4rem !important;
}


@media (max-width: 599px) {

    .group{
      min-height: 70vh;
    }
  .item {
    height: 50vh;
  }

  .item h1.title {
      font-size: 1.6rem !important;
  }

  .group h1 {
    padding: 5rem;
    transition: opacity 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem !important;
  }
  
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .item h1.title {
    font-size: 2rem !important;
}

.group h1 {
  padding: 5rem;
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem !important;
}

}

.item a.btn-head {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.btn-more:hover {
  transform: scale(1.05);
}


.item a.btn-head {
  opacity: 0; /* hide by default */
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add drop shadow */
}


.item.expanded a.btn-head {
  opacity: 1; /* show title when expanded */
  font-size: 2rem;
  transition: opacity 0.5s; /* add transition effect */
  cursor: pointer;
}