.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-height: 90vh;
  background-image: url('../../../Assets/Background/tex1.png'), radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.item {
  width: 15vw;
  height: 75vh;
  background-position: center;
  background-size: cover; /* or contain */
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  position: relative; /* needed for absolute positioning of the title */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9); /* add drop shadow */
  border: 2px solid white;
}

.item h1.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 2rem;
  opacity: 0; /* hide by default */
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* add drop shadow */
}

.item.expanded h1.title {
  opacity: 1; /* show title when expanded */
  font-size: 2rem;
  transition: opacity 0.5s; /* add transition effect */

  
}

.group h1 {
  padding: 5rem;
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 4rem !important;
}


@media (max-width: 599px) {

  .item h1.title {
      font-size: 1rem !important;
  }

  .group h1 {
    padding: 5rem;
    transition: opacity 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem !important;
  }
  
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .item h1.title {
    font-size: 2rem !important;
}

.group h1 {
  padding: 5rem;
  transition: opacity 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem !important;
}

}
